@import "tailwindcss";

@theme {

  --color-purpleHigh : #5046e3;
  --color-purpleLow : #e1e6ff;
  --color-purpleMid : #807cd6;
  --color-greyScreen: #f9fbfc;
  --color-greySlidebar: #ffffff;
  --color-greySlidebarText: #60626e;

}